{
    "name": "test-build",
    "vendor": "test-build",
    "packages": [
        {
            "name": "",
            "path": "src"
        },
        {
            "name": "people",
            "path": "src/people"
        },
        {
            "name": "dogs",
            "path": "src/dogs"
        }
    ]
}